{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Post Add</title>
</head>

<body>
    <div id="navbar">
        <span>글작성</span>
    </div>
    <div id="post-add">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <label>제목</label>
                <input name="title" type="text">
            </div>
            <div>
                <label>내용</label>
                <textarea name="content" col="50" row="10"></textarea>
            </div>
            <div>
                <label>썸네일</label>
                <input name="thumbnail" type="file">
            </div>
            <button type="submit" class="btn btn-primary">작성</button>
        </form>
    </div>
</body>

</html>